.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms $cubic;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  /* visibility: ?; */
}

.backdrop.is-hidden {
  &.modal {
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 0;
  }
}

.modal {
  position: absolute;
  padding: 40px;
  left: 50%;
  top: 50%;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: transform 250ms $cubic, scale 250ms $cubic, opacity 250ms $cubic;

  @media screen and (max-width: 1199px) {
    max-width: 450px;
    height: 609px;
  }

  @media screen and (min-width: 1200px) {
    height: 581px;
    width: 528px;
  }
}

.modal__close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: $white-color;
  transition: fill 250ms $cubic;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.modal__submit-button {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  background-color: $accent-color;
  color: $white-color;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms $cubic;

  &:focus,
  &:hover {
    background-color: $secondary-accent;
  }
}

.form__title {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  text-align: center;
  color: $title-text-color;
}

.form__field {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__input {
  margin: 0;
  padding: 0;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  transition: border-color 250ms $cubic, fill 250ms $cubic;

  &:focus-visible,
  &:hover {
    outline: none;
    border-color: $accent-color;
  }

  &:focus ~ .form__icon,
  &:hover ~ .form__icon {
    fill: $accent-color;
  }
}

.form__icon {
  position: absolute;
  left: 13px;
  top: 50%;
}

.form__label {
  padding-bottom: 4px;
}

.form__input-area {
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms $cubic;

  &:focus,
  &:hover {
    outline: none;
    border-color: $accent-color;
  }
}

.form__checkbox-field {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  margin: 20px auto 30px;
}

.form__checkbox-input {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
  /* appearance: none; */

  &:checked + .form__checkbox-icon {
    background-color: $accent-color;
    border-color: transparent;
    background-image: url(../images/icon-check.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    /* background-origin: border-box; */
  }
}

.form__checkbox-icon {
  display: inline-block;
  min-width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.form__checkbox-text {
  @media screen and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.1;
  }

  @media screen and (min-width: 1200px) {
    line-height: 1.7;
  }
}

.form__checkbox-link {
  @media screen and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.1;
    margin-left: 5px;
    color: $accent-color;
  }

  @media screen and (min-width: 1200px) {
    line-height: 1.7;
    margin-left: 5px;
    color: $accent-color;
  }
}
