/* адреса */

.address {
  font-style: normal;
  gap: 9px;
  margin-bottom: 60px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: start;
    margin-bottom: 0px;
  }
}

.address-box {
  @media screen and (min-width: 768px) {
    margin-right: auto;
    margin-left: 76px;
  }

  @media screen and (min-width: 1200px) {
    margin: 0px;
  }
}

.address__link {
  line-height: 1.7;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms $cubic;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.address__link--color-white {
  color: $white-color;
}
